@model IDocument


@if (Model.GetChildren().Any())
{
  var first = Model.GetChildren().First();
  @Html.Partial("/_authorDetail.cshtml", first)
}

<div class="flex flex-wrap justify-between pt-12 -mx-6">
  @foreach (IDocument post in Model.GetChildren())
  {
    @Html.Partial("/_post.cshtml", post)
  }
</div>

@{
  IDocument newer = Model.GetDocument(Keys.Previous);
  IDocument older = Model.GetDocument(Keys.Next);
}

@if (older != null || newer != null)
{
  <div class="flex w-full">
    <div>
      @if (newer != null)
      {
        <a class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline" href="@Context.GetLink(newer)" role="button"><i class="fas fa-angle-double-left"></i> Newer</a>
      }
    </div>
    <div>
      @if (older != null)
      {
        <a class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline" href="@Context.GetLink(older)" role="button">Older <i class="fas fa-angle-double-right"></i></a>
      }
    </div>
    <div class="clearfix"></div>
  </div>
}
