@model IDocument
@{
  string title = Document.GetString(WebKeys.Title);
  string postImageUrl = Document.GetString(TftKeys.PostImageUrl);
  string backgroungImageUrl = Context.GetLink(postImageUrl);
}

@Html.Partial("_postNav")
<div class="text-center pt-16 md:pt-32">
  <h1 class="font-bold break-normal text-3xl md:text-5xl">@title</h1>
</div>
<!--image-->
@if (postImageUrl != null)
{
  <div
    class="container w-full max-w-7xl mx-auto bg-white bg-cover mt-8 lg:rounded lg:h-4 h-2"
    style="background-image: url('@postImageUrl'); height: 80vh; background-size: cover; background-position: center center;">
  </div>
} else
{
  <div class="mt-24">
  </div>
}
