ArchiveFilter: => GetBool("IsPost")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
---
<div class="container lg:max-w-6xl mx-auto-mt-32">
  <div class="mx-0 sm:mx-6">
    <div class="bg-white w-full p-10 text-lg text-gray-800 leading-normal lg:rounded-lg" style="font-family:Georgia,serif;">
      This blog site is dedicated to those who, through hard fought battles, have concluded that <b>LIQUID</b> programming might not be such a good idea after all.
      <br />
      We here at TheFreezeTeam have struggled with the real world results of LIQUID programming, and have endeavored to discover and develop techniques
    </div>
  </div>
</div>
