@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    #postType ul {
        @apply list-disc;
        @apply pl-6;
        @apply mb-10;
        @apply text-base;
    }

    #postType h1 {
        @apply font-bold;
        @apply text-2xl;
        @apply mb-2;
    }

    #postType h2 {
        @apply font-bold;
        @apply text-xl;
        @apply mb-2;
    }

    #postType h3 {
        @apply font-bold;
        @apply text-base;
        @apply mb-2;
    }

    #postType h4 {
        @apply font-bold;
        @apply text-base;
        @apply mb-2;
    }

    #postType p {
        @apply text-base;
        @apply mb-6;
    }

    #postType blockquote {
        @apply border-l-4;
        @apply border-blue-600;
        @apply bg-gray-50;
        @apply mb-6;
        @apply p-6;
        @apply pb-2;
    }

    #postType .hljs {
        display: block;
        overflow-x: auto;
        @apply p-4;
        @apply pl-6;
        color: #abb2bf;
        background: #282c34;
        @apply text-sm;
        @apply mb-6;
    }

    #postType code {
        @apply bg-gray-100;
        @apply py-1;
        @apply px-2;
        @apply rounded;
        @apply text-sm;
    }

    #postType a {
        @apply text-blue-600;
    }

    #postType a:hover {
        @apply text-blue-400;
    }
}

@layer utilities {
}
    

