<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  @Html.Partial("partials/_head.cshtml")
</head>
<body>
  @Html.Partial("partials/diagnostic/_statiq-core-document-properties.cshtml")
  @Html.Partial("partials/diagnostic/_statiq-metadata.cshtml")
  @RenderBody()
</body>
</html>
