@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  #postType ul {
    @apply list-disc;
    @apply pl-6;
    @apply mb-10;
    @apply text-xl;
  }

  #postType h1 {
    @apply font-bold;
    @apply text-4xl;
    @apply mb-2;
  }

  #postType h2 {
    @apply font-bold;
    @apply text-3xl;
    @apply mb-2;
  }

  #postType h3 {
    @apply font-bold;
    @apply text-2xl;
    @apply mb-2;
  }

  #postType h4 {
    @apply font-bold;
    @apply text-2xl;
    @apply mb-2;
  }

  #postType p {
    @apply text-xl;
    @apply mb-6;
  }

  #postType table {
    @apply w-full;
    @apply table-auto;
    @apply border;
    @apply border-solid;
    @apply border-gray-300;
    @apply mb-6;
  }

  #postType table tr {
    @apply border-b;
    @apply border-solid;
    @apply border-gray-300;
    @apply h-14;
  }

  #postType table tr td {
    @apply border-r;
    @apply border;
    @apply border-gray-300;
    @apply p-3;
  }

  #aboutusType p {
    @apply text-2xl;
    @apply text-gray-700;
    @apply mb-6;
  }

  #aboutusType a {
    @apply text-blue-600;
  }

  #postType blockquote {
    @apply border-l-4;
    @apply border-blue-600;
    @apply bg-gray-50;
    @apply mb-6;
    @apply p-6;
    @apply pb-2;
    @apply italic;
  }

  #postType .hljs {
    display: block;
    overflow-x: auto;
    @apply p-4;
    @apply pl-6;
    color: #4a4a4a;
    background: #f7f7f7;
    @apply text-sm;
    @apply mb-6;
  }

  #postType code {
    @apply bg-gray-100;
    @apply py-1;
    @apply px-2;
    @apply rounded;
    @apply text-sm;
  }

  #postType a {
    @apply text-blue-600;
  }

    #postType a:hover {
      @apply text-blue-400;
    }

  .tooltip .tooltip-text {
    @apply opacity-0;
    @apply transition;
    @apply duration-500;
    @apply text-center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
  }

  .tooltip:hover .tooltip-text {
    @apply opacity-100;
  }
}

@layer utilities {
}
