<!-- _edit-in-github-link.cshtml -->
@{
  const string GitHubRepoUrl = "https://github.com/TheFreezeTeam/TheFreezeTeamBlog";
  var markdownPath = Document.Source.GetRelativeInputPath();
  string gitHubEditUrl = $"{GitHubRepoUrl}/edit/master/Source/TheFreezeTeamBlog/input/{markdownPath}";
}

<a class="flex flex-row justify-end gap-2 -mt-4 text-sm font-normal" href="@gitHubEditUrl" target="_blank">
  <span>
    Edit This Page
  </span>
  @await Html.PartialAsync("simple-icons/_pencil-square.cshtml")
</a>
