<!-- _header.cshtml -->
<header class="mx-auto">
  <img class="px-10 mx-auto" src="/images/the-freeze-team.png" />
  <h1 class="text-4xl font-bold tracking-tight text-center sm:text-5xl">@PageTitle</h1>
  @Html.Partial("_navigation.cshtml")
</header>
