<!-- _posts.cshtml -->
<section
  id="posts"
  class="flex-grow mt-2"
>
  <div class="flex w-full md:w-full">
    @Html.Partial("_card.cshtml", FeaturedPost)
  </div>

  <div class="grid items-stretch w-full gap-6 mt-6 lg:grid-cols-3">
    @foreach (IDocument post in NonFeaturedPosts)
    {
      <div class="flex w-full ">
        @Html.Partial("_card.cshtml", post)
      </div>
    }
  </div>

</section>
