<!-- _posts.cshtml -->
<section
  id="posts"
  class="flex-grow bg-purple-500"
>
  <div class="flex w-full md:w-full">
    @Html.Partial("_card.cshtml", FeaturedPost)
  </div>

  <div class="flex flex-wrap items-stretch w-full mt-2">
    @foreach (IDocument post in NonFeaturedPosts)
    {
      <div class="flex w-full p-6 md:w-1/3">
        @Html.Partial("_card.cshtml", post)
      </div>
    }
  </div>

</section>
