<!-- _subscription.cshtml -->

<section class="container p-10 text-center rounded bg-emerald-100">
  <h2 class="text-2xl font-bold break-normal md:text-4xl">Subscribe to The Freeze Team</h2>
  <h3 class="text-base font-normal text-gray-600 break-normal md:text-xl">Get the latest posts delivered right to your inbox</h3>
  <div class="w-full pt-4 text-center">
    <form action="#">
      <div class="flex flex-wrap items-center max-w-xl p-1 pr-0 mx-auto">
        <input type="email" placeholder="youremail@example.com" class="flex-1 p-3 mr-2 text-gray-600 rounded shadow appearance-none focus:outline-none">
        <button type="submit" class="flex-1 block py-4 mt-4 text-base font-semibold tracking-wider text-white uppercase transition duration-500 ease-in-out rounded shadow appearance-none md:mt-0 md:inline-block bg-emerald-500 hover:bg-emerald-400">Subscribe</button>
      </div>
    </form>
  </div>
</section>
