<!-- tags.cshtml -->
@{
  #nullable enable
  IReadOnlyList<string>? tags = Model.GetTags();
}

<section class="flex flex-wrap items-center content-between w-full gap-2 ">
  @if(tags != null)
  {
    @foreach (var tag in tags)
    {
      string tagUrl = $"tags/{PathUtilities.CleanPath(tag)}";

      <object>
        <a
          role="button"
          href="@Context.GetLink(tagUrl)"
          class="flex-1 px-6 py-1 mt-2 text-xs font-semibold text-center text-gray-800 bg-gray-100 rounded dark:bg-gray-600 md:text-sm hover:text-emerald-500 hover:bg-gray-300 dark:text-emerald-300 dark:hover:text-emerald-700"
        >
          <span class="whitespace-nowrap">@tag</span>
        </a>
      </object>
    }
  } else
  {
    <div>no tags</div>
  }
</section>
