@{
  BaseModel baseModel = new BaseModel(Document, Context);
}

<!DOCTYPE html>
<html lang="en">
<head>
  @await Html.PartialAsync("partials/_head.cshtml", baseModel)
</head>

<body class="font-sans leading-normal tracking-normal bg-white">
  <!-- Page Header -->
  @await Html.PartialAsync("partials/_header-about-us.cshtml", baseModel);
  <!-- Navigation -->
  <div class="mx-auto -mt-32 lg:container lg:px-4 lg:px-0 lg:max-w-6xl">
    <div class="mx-0 sm:mx-6">
      <!-- Main Content -->
      <div class="hidden">
        @await Html.PartialAsync("partials/_navigation", baseModel)
      </div>
        <div class="container lg:max-w-6xl mx-auto-mt-32">
          <div class="mx-0 sm:mx-6">
            <div id="aboutusType" class="w-full p-4 text-gray-800 bg-white lg:p-16">
              @RenderBody()
            </div>
          </div>
        </div>
        @await Html.PartialAsync("partials/_post-footer.cshtml", baseModel)

    </div>
  </div>
  @await Html.PartialAsync("partials/_footer.cshtml", baseModel)

  <!-- Custom scripts for this template -->
  @await Html.PartialAsync("partials/_scripts.cshtml", new BaseModel(Document, Context ))

  @RenderSection("Scripts", false)

</body>
</html>
