@model BaseModel
@inherits StatiqRazorPage<BaseModel>

<title>@Model.PageTitle</title>
@await Html.PartialAsync("_MetaTags.cshtml", new MetaTags(Document, Context))
@await Html.PartialAsync("_Links.cshtml", new BaseModel(Document, Context))
