@model BaseModel
@inherits StatiqRazorPage<BaseModel>

<title>@Model.PageTitle</title>
@await Html.PartialAsync("_meta-tags.cshtml", new MetaTags(Document, Context))
@await Html.PartialAsync("_links.cshtml", new BaseModel(Document, Context))
