@model BaseModel
@inherits StatiqRazorPage<BaseModel>

@{
  bool isPostType = Document.GetBool("IsPost");
  string authorName = Document.GetString(WebKeys.Author);
}
    
@if (isPostType)
{
  if (!string.IsNullOrEmpty(authorName))
  {
    <!--Author-->
  <div class="flex w-full items-center font-sans p-8 md:p-24">
    <div class="flex-1">
      <div class="flex">
        <a href="/author/@Context.GetLink(Document.GetString(WebKeys.Author).Replace(" ","-").ToLower())">
          <img src="@Document.GetString("AuthorImage")" class="hover:shadow-lg transition duration-500 ease-in-out lg:h-14 lg:w-14 rounded-full  h-12 w-12 object-cover">
        </a>
        <a href="/author/@Context.GetLink(Document.GetString(WebKeys.Author).Replace(" ","-").ToLower())"><p class="pt-3 ml-4 lg:pt-3 lg:ml-5 font-medium text-base">@Document.GetString(WebKeys.Author)</p></a>
      </div>
    </div>
    <div class="justify-end">
      <a href="/author/@Context.GetLink(Document.GetString(WebKeys.Author).Replace(" ","-").ToLower())" class="bg-transparent border border-gray-500 hover:border-green-500 text-xs text-gray-500 hover:text-green-500 lg:font-bold font-medium py-1 px-3 lg:py-2 lg:px-4 rounded-full transition duration-500 ease-in-out">Read More</a>
    </div>
  </div>
  <!--/Author-->
  }
 
}
else
{
  <div class="container font-sans bg-green-100 rounded mb-8 mt-8 p-4 md:p-24 text-center">
    <h2 class="font-bold break-normal text-2xl md:text-4xl">Subscribe to The Freeze Team</h2>
    <h3 class="font-bold break-normal font-normal text-gray-600 text-base md:text-xl">Get the latest posts delivered right to your inbox</h3>
    <div class="w-full text-center pt-4">
      <form action="#">
        <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
          <input type="email" placeholder="youremail@example.com" class="flex-1 appearance-none rounded shadow p-3 text-gray-600 mr-2 focus:outline-none">
          <button type="submit" class="transition duration-500 ease-in-out flex-1 mt-4 md:mt-0 block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-green-400">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /Subscribe-->
}

